@model List<Post> 
@{
    ViewData["Title"] = "Gönderlerim";
}

        <section class="section site-portfolio">                          
            <div class="container">
           <h2  class="mb-4 neyapmaliyim">@ViewData["Title"]</h2>
        @if (Model == null || !Model.Any())
        {
            <h5>Henüz Gönderi yok</h5>
        }
        else
        {
            @foreach(var obj in Model) 
            {
                @if (User.Identity.IsAuthenticated && obj.ApplicationUser.Email == User.Identity.Name){
                @Html.AntiForgeryToken()
                <div class="col-md-6 mb-4">
                    <input asp-for="@obj.Id" hidden>
                    <div class="card">
                        <div class="card-icons">
                        @if (obj.Latitude != 0 && obj.Longitude != 0)
                        {
                            var mapUrl = $"https://www.google.com/maps?q={obj.Latitude},{obj.Longitude}";
                            <a href="@mapUrl" target="_blank"><a href="@mapUrl" target="_blank"><i class="bi bi-geo-alt-fill"></i></a></a>
                        }
                            <a href="/customer/post/upsert?id=@obj.Id" class="edit-icon">
                            <i class="bi bi-pen-fill"></i>
                            </a>
                            <a onclick="Delete('/customer/post/delete/@obj.Id')" class="delete-icon">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                        <img class="index-image" src="~/@obj.Image">
                        <div class="card-body">
                            <h5 class="card-title">@obj.Title</h5>
                            <p class="card-text">@obj.Description</p>
                          <span class="İletişim-bilgileri">İletişim bilgileri: @obj.ContactInfo</span>
                       
                        </div>
                    </div>
                </div>   
                }
                
                    }
        }
        </div>
        </section> 

@section Scripts{
    <script src="~/js/customer_post.js"></script>
         }
