@model List<Post> 

@{
    ViewData["Title"] = "Gönderlerim";
}

        <section class="section site-portfolio">                          
            <div class="container">
           <h2  class="mb-4 neyapmaliyim">@ViewData["Title"]</h2>
        @if (Model == null || !Model.Any())
        {
            <h5 style="margin-bottom: 20%;">Henüz Gönderi yok</h5>
        }
        else
        {
            @foreach(var obj in Model)
            {
                @if (User.Identity.IsAuthenticated && obj.ApplicationUser.Email == User.Identity.Name){
                @Html.AntiForgeryToken()
                <div class="col-md-6 mb-4">
                    <input asp-for="@obj.Id" hidden>
                    <div class="card">
                        <div class="card-icons">
                            <a href="/customer/post/upsert?id=@obj.Id" class="edit-icon">
                            <i class="bi bi-pen-fill"></i>
                            </a>
                            <a onclick="Delete('/customer/post/delete/@obj.Id')" class="delete-icon">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                        <img class="index-image" src="~/@obj.Image">
                        <div class="card-body">
                            <h5 class="card-title">@obj.Title</h5>
                            <p class="card-text">@obj.Description</p>
                            <u>@obj.ContactInfo</u>
                        </div>
                    </div>
                </div>   
                }
                
                    }
        }
        </div>
        </section>

@section Scripts{
    <script src="~/js/customer_post.js"></script>
         }
