@page
@model LoginModel

@{
    ViewData["Title"] = "Giriş Yap";
}

<section class="section pb-5">
    <div class="container">
                @if(User.Identity.IsAuthenticated)
                {
                    <h2 class="center-button" style="margin-bottom: 14%;">Giriş Yapıldı</h2>
                }
                else
                {
                <div class="row mb-5 justify-content-center">
                <div class="col-md-6" data-aos="fade-up">
                  <h2 class="center-button">@ViewData["Title"]</h2>
                    </div>
                 </div>
            <div class="row justify-content-center">
            <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-up">
            <form id="account" method="post" onsubmit="onSubmit(event)">
                <input type="hidden" name="" id="recaptchaTokenInputId" asp-for="RecaptchaToken">
                <div class="row gy-3">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="col-md-12 form-group">
                    <label asp-for="Input.Email" class="form-label">E posta</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="col-md-12 form-group">
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="checkbox">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @*need sessions implementation*@
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                  <div class="col-md-10 m-8 d-flex flex-column align-items-center center-button">
                    <button id="login-submit" type="submit" class="readmore w-75 mb-3">Log in</button>
                </div>
        </div>
            </form>
                      <div class="row gy-3">
                   @{
                        @if(!User.Identity.IsAuthenticated)
                        {
                            if((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>        
                                 There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                        about setting up this ASP.NET application to support logging in via external services</a>.
                                 </div>
                            }
                            else
                            {
                               <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                @foreach(var provider in Model.ExternalLogins!)
                                {
                                    <div class="col-md-10 m-8 d-flex flex-column align-items-center center-button">
                                    <button type="submit" class="readmore w-75 mb-3" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                     </div>
                                }
                            </form>
                            }
                        }
                    }
              </div>

               <div class="col-md-10 m-8 d-flex flex-column align-items-center center-button">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Şifrenizi unuttunuz mu?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Yeni bir kullanıcı olarak kayıt olun</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">E-posta onayını yeniden gönder</a>
                    </p> 
              </div>
        </div>
     </div>
  }
</div>
</section>

@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}