@page
@model RegisterModel
@{
    ViewData["Title"] = "Kayıt Ol";
}
    <section class="section pb-5">
      <div class="container">
        @if(User.Identity.IsAuthenticated)
        {
                <h2 class="center-button" style="margin-bottom: 14%;">Giriş Yapıldı</h2>
        }
        else
        {
        <div class="row mb-5 justify-content-center">
          <div class="col-md-6" data-aos="fade-up">
            <h2 class="center-button">@ViewData["Title"]</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-up">

        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="row gy-3">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="col-md-6 form-group">
                <label asp-for="Input.FName">Adı</label>
                <input asp-for="Input.FName" class="form-control" />
                <span asp-validation-for="Input.FName" class="text-danger"></span>
            </div>
                        <div class="col-md-6 form-group">
                        <label asp-for="Input.LName">Soyadı</label>
                <input asp-for="Input.LName" class="form-control" />
                <span asp-validation-for="Input.LName" class="text-danger"></span>
            </div>
                        <div class="col-md-12 form-group">
                         <label asp-for="Input.City">Şehir</label>
                <input asp-for="Input.City" class="form-control" />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
                        <div class="col-md-12 form-group">
                       <label asp-for="Input.District">İl</label>
                <input asp-for="Input.District" class="form-control" />
                <span asp-validation-for="Input.District" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group">
               <label asp-for="Input.Email">E posta</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div> 
            <div class="col-md-12 form-group">
                <label asp-for="Input.Password">Şifre</label>
                <input id="password" asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group">
               <label asp-for="Input.ConfirmPassword">Şifre Onaylama</label>
                <input id="passwordtekrar" asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="col-md-12 form-group">
                      <input asp-for="Input.TermsAccepted" type="checkbox" aria-required="true" />
                    <a href="#" data-bs-toggle="modal" data-bs-target="#serv-modal"><label asp-for="Input.TermsAccepted">Terms and Services</label></a>
                        <span asp-validation-for="Input.TermsAccepted" class="text-danger"></span>
                        
                    <input asp-for="Input.PolicyAccepted" type="checkbox" aria-required="true" />
                    <a href="#" data-bs-toggle="modal" data-bs-target="#poli-modal"><label asp-for="Input.PolicyAccepted">Policy Terms</label></a>
                        <span asp-validation-for="Input.PolicyAccepted" class="text-danger"></span>
              </div>


              <div class="modal fade" id="poli-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">policy title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae esse aliquid rem eum hic, sed voluptate nisi, ab non repellat recusandae expedita neque reprehenderit laboriosam voluptatem provident aut aspernatur! Obcaecati!
                    </div>
                    <div class="modal-foot">
                        <button class="m-4 btn btn-primary">submit</button>
                    </div>
                </div>
                </div>
              </div>

              <div class="modal fade" id="serv-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">terms of services title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae esse aliquid rem eum hic, sed voluptate nisi, ab non repellat recusandae expedita neque reprehenderit laboriosam voluptatem provident aut aspernatur! Obcaecati!
                    </div>
                    <div class="modal-foot">
                        <button class="m-4 btn btn-primary">submit</button>
                    </div>
                </div>
                </div>
              </div>


            <div class="col-md-10 m-8 d-flex flex-column align-items-center center-button">
            <button id="registerSubmit" type="submit" class="readmore w-75 mb-3">Kayıt Ol</button>
          </div>
           </div>
        </form>
            <div class="row gy-3">
            @{
                @if(!User.Identity.IsAuthenticated)
                {
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <div class="col-md-10 m-8 d-flex flex-column align-items-center center-button">
                                    <button type="submit" class="readmore w-75 mb-3" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    </div>
                                }
                    </form>
                }
                }
            }
            </div>

        <div class="col-md-10 m-8 d-flex flex-column align-items-center center-button">
          <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">E-posta onayını yeniden gönder</a>
        </div>
    </div>
</div>
        }
     </div>
</section>



@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
<script>
    const passwordField = document.getElementById('password');
    const confirmPasswordField = document.getElementById('passwordtekrar');

    passwordField.addEventListener('paste', e=> e.preventDefault());
    confirmPasswordField.addEventListener('paste', e=> e.preventDefault());
</script>