@using kayip_project.Utility
@using kayip_project.Models
@model List<Post> 
@{
    ViewData["Title"] = "Ana Sayfa";
    string linkPath;
}
      <!-- ======= Works Section ======= -->
      <section class="section site-portfolio">
        <div class="container">
          <div class="row mb-5 align-items-center">
            <div class="col-md-12 mb-4 mb-lg-0">
            <h2><span class="red">Gören</span> Var mı?</h2>
            
              <p class="mt-4">
                    <h5 class="mb-4">Türkiye'de kayıp kişi kriziyle karşı karşıya olan insanlara yardım etmeye odaklanmış ilk web sitesidir. Aktif olarak vakaları araştırmaz; sadece genellikle ihmal edilen ve çok kısa sürede unutulan kayıp insanlar için bir tanıtım aracıdır.
                    </h5>
                @{
                    linkPath = "";
                  if(User.IsInRole(SD.User_Role) || User.IsInRole(SD.Admin_Role))
                  {
                      linkPath = Url.Action("Upsert", "Post", new { area = "Customer" });
                  }
                  else
                   {
                      linkPath = Url.Action("Login", "Account", new { area = "Identity" });

                   }
                }
              <u><a href="#" data-bs-toggle="modal" data-bs-target="#policefirst">kayıp birini bildirmek ister misiniz?</a></u>
            </div>
          </div>
            <input type="checkbox" id="ch" hidden>
             <div class="index-content">
                <div class="row">
                  @foreach(var obj in Model)
                  {
             <div class="col-md-6 mb-4">
                <div class="card">
                  <input asp-for="@obj.Id" hidden>
                    <div class="card-icons">
                      @if (obj.Latitude != 0 && obj.Longitude != 0)
                      {
                        var mapUrl = $"https://www.google.com/maps?q={obj.Latitude},{obj.Longitude}";
                        <a href="@mapUrl" target="_blank"><i class="bi bi-geo-alt-fill"></i></a>
                      }
                      @if (User.Identity.IsAuthenticated && obj.ApplicationUser.Email == User.Identity.Name){
                            <a href="/customer/post/upsert?id=@obj.Id" class="edit-icon">
                            <i class="bi bi-pen-fill"></i>
                            </a>
                            <a onClick="Delete('/customer/post/delete/@obj.Id')" class="delete-icon">
                                <i class="bi bi-trash"></i>
                            </a>
                      }
                      else
                      {
                        <a class="question-icon" data-bs-toggle="popover" data-bs-trigger="hover">
                            <i class="bi bi-question-circle"></i>
                        </a>
                      }
                    </div>
                    <img class="index-image" src="@obj.Image">
                    <div class="card-body">
                        <h5 class="card-title">@obj.Title</h5>
                        <p class="card-text">@obj.Description</p>
                          <span class="İletişim-bilgileri">İletişim bilgileri: @obj.ContactInfo</span>

                    </div>
                </div>
            </div> 
                  @if(obj == null)
                  {
                    <p>Henüz Gönderi yok</p>
                  }                   
                  }
            </div>
              <div class="col-md-6 mt-0 form-group center-button ">
            <label for="ch" class="readmore mb-3">daha az oku</label>
          </div>
                      
        </div>

          <div class="checked col-md-6 mt-0 form-group center-button ">
            <label for="ch" class="readmore mb-3">Daha fazla oku</label>
          </div>
        </div>
      </section>

                    <div class="modal fade" id="policefirst" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="modal-title">kayıp birini bildirmek ister misiniz?</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>
                          Web sitesinde gönderi paylaşmadan önce, <a class="red" href="#">155</a> numaralı telefonu arayarak veya <a class="red" href="https://www.asayis.pol.tr/iletisim">https://www.asayis.pol.tr/iletisim</a> sitesini ziyaret ederek polisle iletişime geçmeyi düşünmelisiniz. Polisi bilgilendirmek, sevdiğiniz kişiyi bulmanıza yardımcı olacak <u><strong> ilk ve en önemli adımdır.</strong></u></p>
                      </div>
              <div class="col-md-10 m-8 d-flex flex-column align-items-center center-button">
              <a href="@linkPath" class="text-center readmore w-75 mb-3">Anlıyorum</a>
            </div>
                  </div>
                  </div>
                </div>

@section Scripts{ 
    <script src="~/js/customer_post.js"></script>
}
